<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <div class="container"> -->
    <h1>Edit Book: {{ book.title }}</h1>
    <form action="/edit/{{ book.title }}" method="post">
        New Title: <input type="text" name="new_title" value="{{ book.title }}"><br>
        Author: <input type="text" name="author" value="{{ book.author }}"><br>
        Year: <input type="text" name="year" value="{{ book.publication_year }}"><br>
        Genre: <input type="text" name="genre" value="{{ book.genre }}"><br>
        <input type="submit" value="Update Book">
    </form>
    <footer>
        <a href="/books">Back to Books</a>
    </footer>
    <!-- </div> -->
</body>
</html>